<!-- Mobile Footer Tabs -->
<nav class="navbar navbar-dark bg-black fixed-bottom d-flex d-sm-none" *ngIf="currentTab$ | async">
  <div class="container-fluid justify-content-around">
    <a *ngFor="let tab of mobileTabs" 
       class="nav-link tab d-flex flex-column align-items-center" 
       [ngClass]="{ 'active-tab': (currentTab$ | async) === tab.id }"
       (click)="tab.id === Tab.Discover ? onDiscoverTabClick() : navigateToTab(tab.id)">
      <i [class]="tab.icon + ' fs-5'"></i>
      <span class="d-block">{{ tab.label }}</span>
    </a>
  </div>
</nav>
