<div class="container-fluid px-3">
  <div class="row pt-4">
    <div class="col text-center">
      <img src="../../../assets/images/crates-card-cropped.png"
           alt="crates logo"
           class="main-icon"/>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-12 col-md-10 col-lg-8 text-center">
      <h2>Playlists are for songs,</h2>
      <h2 class="pb-2"><span class="text-primary">Crates</span> are for <span class="text-primary">albums</span>.</h2>
      <p class="">Crates lets you organize your albums into custom categories,
        making it easier to find the perfect soundtrack for any moment. Sync your Spotify library, organize your Crates, and rediscover the
        joy of full albums curated just the way you like.</p>
    </div>
  </div>
</div>
